# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Media and Static uploads
media/
staticfiles/

# Pyre (type checker)
.pyre/

# Compiled C extensions
*.so

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Testing and coverage
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.hypothesis/

# Django specific
*.log
local_settings.py

# Editor configs and junk
*.swp
*.bak
*.tmp
*.DS_Store
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Translations
*.mo
*.pot

# Pyenv
.python-version

# Pipenv / Poetry
# Pipfile.lock  # Uncomment if you want to ignore it
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Scrapy
.scrapy/

# MkDocs
/site

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx
docs/_build/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject
